<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>JDBCServlet</servlet-name>
        <servlet-class>jdbc.JDBCServlet</servlet-class>
        <init-param>
            <param-name>db_url</param-name>
            <param-value>jdbc:mysql://localhost:3306/workbook3ver1</param-value>
        </init-param>
        <init-param>
            <param-name>jdbc_driver</param-name>
            <param-value>com.mysql.jdbc.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>db_username</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>db_password</param-name>
            <param-value>admin</param-value>
        </init-param>
        <init-param>
            <param-name>sql_show_query</param-name>
            <param-value>SELECT idExpense, paydate, value, nameReceiver FROM expenses, receivers WHERE receiver=receivers.idReceiver</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>JDBCServlet</servlet-name>
        <url-pattern>/jdbc</url-pattern>
    </servlet-mapping>
</web-app>